* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(90deg, #F1A10A 0%, #342303 100%);
    color: #000;
}